.feed-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.feed-outer-container h3 {
    font-family: 'ButlerRegular';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    padding: 30px;
    margin-top: 15px;
}


.feed-inner-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    height: auto;
}

.feed-inner-container p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin: 12px 0px 12px 0px;
}

.d-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 35px;
}

.h-flex {
    height: 55vh;
    width: 50%;
}

.d-padding {
    padding: 0px 0px 20px 0px;
}

.d-padding1 {
    padding: 0px 0px 40px 0px;
}

.star-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.star-box p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 5px;
}

.star-box i {
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.star-box i:hover {
    color: var(--red);
    transition: linear;
}

.star-box-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}
.form-blank {
    height: 44px !important;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0.25rem;
}

.feed-inner-container-frnachise {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: auto;
}

.feed-inner-container-franchise p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin: 12px 0px 12px 0px;

}

.feed-outer-container-franchise {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;

}

.feed-outer-container-franchise h3 {
    font-family: 'ButlerRegular';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    padding: 30px;
    margin-top: 15px;
}
.nav-order-button {
    padding-left: 30px;
    display: flex;
    background-color: #ed1c24;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}